@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html {
  background-image: url(images/BGTile03.png);
  background-repeat: repeat-x; 
}
body {
  margin: 0 auto;
  max-width: 100%;
  line-height: 2;
  padding: 4em 1em;
  background-color: black;
  background-image: url(images/BGTile03.png);
  background-repeat: repeat-x repeat-y; 


  color: #FFF1E8;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  font-family: 'Press Start 2P',cursive;
  letter-spacing: .2rem;

}
hr{
	margin-bottom: 3em;
	margin-top: 3em;
}
#main {
	max-width: 75%;
	height: 100%;
	background-color: black;
	margin: auto;
	padding: 5%;
	border: 1em solid;
	text-transform: uppercase; 
	border-image: url('images/textMessage_uiWindow.png') 27 27 27 27;
}

h1, h2 {
  text-align: center;
  color: #FF77A8;
  font-size: 2.5em;
  letter-spacing: .4rem;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

li>a {
	color: #29ADFF;
	background-color: #000;
	padding: 1em;
	text-decoration: none;
	border: 1em solid;
	border-radius: 5px;
	display: inline-block;
	margin-top: 2em; 
	clear: left;
	border-image: url('images/blue_button.png') 34 34 34 34;
}

li>a:hover {
	color: #29ADFF;
	background-color: #FFF1E8;
	padding: 1em;
	text-decoration: none;
	border: 1em solid;
	border-radius: 5px;
	display: inline-block;
	margin-top: 2em; 
	clear: left;
	border-image: url('images/blue_button.png') 34 34 34 34;
}

.item img{
	border: none;
	margin: 0px;
	padding: 0px;
	clear: none;
}

p {
	max-width: 75%;
	font-size: 1em;
	margin: auto;
}

ul{
	max-width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 2em;
	list-style-type: none;
}

img {
	margin-top: 2em;
	width: 25%;
	float: left;
	margin-right: 5em;
}

span.clear { clear: left; display: block; }

.items {
	margin-right: 1em;
    margin: auto;
  	margin-bottom: 1em;
  	display: inline-block;
}

.items img{
	cursor: not-allowed;
	width: 64px;
	float: none;
  	border: .1em solid #FF77A8;
}

.items a img{
	width: 68px;
	height: 68px;
	padding: 3px;
  	border: .1em solid #29ADFF;
  	display: inline-block;
  	cursor: pointer;
}

.chest {
	margin: auto;
	margin-bottom: 2em;
	width: 60%;
}

.chest img{
	width: 64px;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-left: 1em;
}

.landscape{
	float: none;
	padding: 1em;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 2em;
	display: block;
	width: 80%;
	border: 1em solid;
	border-image: url('images/textMessage_uiWindow.png') 27 27 27 27;
}

.item-reward{
	margin-top: 2em;
	width: 25%;
	display: block;
	float: none;
	margin: auto;
	margin-bottom: 2em;
	border: 1em solid;
	border-image: url('images/textMessage_uiWindow.png') 27 27 27 27;
}

.logo{
	float: none;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 2em;
	display: block;
	width: 50%;
}

.item-container{
	margin: auto;
	text-align: center;
}

.bubble-speech {
		  position: relative;
		  font-family: 'Press Start 2P', sans-serif;
		  margin:auto;
		  line-height: 22px;
		  letter-spacing: 1px;
		  margin-top: 16px;
		  margin-bottom: 48px;
		  width: 25%;
		  background-color: #FFF1E8;
		  padding: 16px;
		  color: black;
		}

		.bubble-speech img{
			margin-top: 0px;
			margin-right: 1em;
			margin-bottom: 1em;
			float:left;
			margin-right: 5px;
			width: 64px;
		}

		.bubble-speech.bubble-left:after {
		  z-index: 9002;
		  display: block;
		  content: "";
		  position: absolute;
		  bottom: -11px;
		  left: 0;
		  border-top: 0 #FFF1E8 solid;
		  border-bottom: 12px transparent solid;
		  border-left: 20px #FFF1E8 solid;
		}

		.bubble-square {
		  width: 33px;
		  height: 25px;
		  text-align: center;
		}

		.bubble-speech.bubble-center:after {
		  z-index: 9002;
		  display: block;
		  content: "";
		  position: absolute;
		  bottom: -11px;
		  left: 50%;
		  margin-left: -18px;
		  border-right: 20px transparent solid;
		  border-top: 12px #efefef solid;
		  border-left: 20px transparent solid;
		}

		.bubble-speech.bubble-right:after {
		  z-index: 9002;
		  display: block;
		  content: "";
		  position: absolute;
		  bottom: -11px;
		  right: 0;
		  border-top: 0 #efefef solid;
		  border-bottom: 12px transparent solid;
		  border-right: 20px #efefef solid;
		}

		.bubble-speech .author {
		  max-width: 300px;
		  font-weight: bold;
		  margin: 0;
		  margin-bottom: 2em;
		  padding: 0 12px 2px 0;
		}

		.message {
			margin-left: 50px;
		}