@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 0 auto;
  max-width: 100%;
  line-height: 2;
  padding: 4em 1em;
  background-color: black;
  color: #FFF1E8;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  font-family: 'Press Start 2P';
  letter-spacing: .2rem;

}

#main {
	max-width: 75%;
	height: 100%;
	background-color: black;
	margin: auto;
	padding: 5%;
	border: 1em solid;
	text-transform: uppercase; 
	border-image: url('images/textMessage_uiWindow.png') 27 27 27 27;
}

h1, h2 {
  text-align: center;
  color: #FF77A8;
  font-size: 2.5em;
  letter-spacing: .4rem;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

a {
	color: #29ADFF;
}

p {
	max-width: 75%;
	font-size: 1em;
	margin: auto;
}

ul{
	max-width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 2em;
	list-style-type: none;
}

img {
	margin-top: 2em;
	width: 25%;
	float: left;
	margin-right: 2em;
}

span.clear { clear: left; display: block; }

.items {
  width: 64px;
  height: 4em;
  border: .1em solid #FF77A8;
  margin: auto;
  margin-bottom: 1em; 
  display: inline-block;
  
}

.items img{
	width: 32px;
	margin-top: .5em;
	margin-left: 1em;
  
}

.chest {
	margin: auto;
	width: 40%;
}

.chest img{
	width: 64px;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-left: 1em;
}